.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--space-6);
}

@media (min-width: 1024px) {
  .container {
    padding: 0 var(--space-8);
  }
}

.sm {
  max-width: var(--container-sm);
}

.md {
  max-width: var(--container-md);
}

.lg {
  max-width: var(--container-lg);
}

.xl {
  max-width: var(--container-xl);
}

.full {
  max-width: 100%;
}
